
.vs/config/applicationhost.config
clarent/bin/clarent.dll
clarent/bin/clarent.pdb
clarent/obj/Debug/clarent.csproj.FileListAbsolute.txt
clarent/obj/Debug/clarent.csprojResolveAssemblyReference.cache
clarent/obj/Debug/clarent.dll
clarent/obj/Debug/clarent.pdb
clarent/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/config/applicationhost.config
clarent/bin/clarent.dll
clarent/bin/clarent.pdb
clarent/obj/Debug/clarent.csproj.FileListAbsolute.txt
clarent/obj/Debug/clarent.csprojResolveAssemblyReference.cache
clarent/obj/Debug/clarent.dll
clarent/obj/Debug/clarent.pdb
clarent/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
